    /*GLOBAL*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ffedd5;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

    /*HEADER*/
header {
    padding:  32px 0;
    text-align: center;
}

header, section {
    max-width: 300px;
    margin: 0 auto;
}

header h1 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 4px;
}

header p {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,0.7); 
}

/* header h1 span {
    color: #995000;
} */
    /*SECTION*/
section {
    margin-bottom: 24px;
}

section h2 {
    background-color: #dedede;
    padding: 8px 16px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
}
/*LISTA*/

ul li {
    margin-bottom: 16px;
    display: flex;
}

li.details {
    max-width: 240px;

}

.details h3{
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 19px;
    color: black;
}

.details p {
    color: #fafafa;
    font-size: 14px;
    line-height: 21px;
}

/*FONTS*/

h1, h2, h3, .price{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}